{% extends 'base.html' %}

{% block content %}
    <section class="posts">
        <div class="container posts__container">

            <article class="post">
                <div class="post__thumbnail">
                    <img src="{{ url_for('static', filename='images/blog15.jpg') }}" alt="Image">
                </div>
                <a href="" class="category__button">ALX STUDENT</a>
                <h3 class="post__title"><a href="post.html">Learning Software Engineering</a>
                </h3>
                <p class="post__body">
                    As an ALX student studying software engineering, i am someone with a blend of technical curiosity and problem-solving skills, Adaptable Learner,
                    Collaborative, Adaptable Learner, Adaptable Learner, Resilient, Organized, Curious and Motivated
                    Ethical and Security-Conscious. 

                </p>

                <div class="post__author">
                    <div class="post__author-avatar">
                        <img src="{{ url_for('static', filename='images/avatar3.jpg') }}" alt="Image">
                    </div>
                    <div class="post__author-info">
                        <h5>By: Tochukwu llonuba</h5>
                        <small>08037447835</small>
                    </div>
            </article>

            
            <article class="post">
                <div class="post__thumbnail">
                    <img src="{{ url_for('static', filename='images/blog17.jpg') }}" alt="Image">
                </div>
                <a href="" class="category__button">ALX STUDENT</a>
                <h3 class="post__title"><a href="post.html">Learning Software Engineering</a>
                </h3>
                <p class="post__body">
                    As an ALX student studying software engineering, i am someone with a blend of technical curiosity and problem-solving skills, Adaptable Learner,
                    Collaborative, Adaptable Learner, Adaptable Learner, Resilient, Organized, Curious and Motivated
                    Ethical and Security-Conscious. 

                </p>

                <div class="post__author">
                    <div class="post__author-avatar">
                        <img src="{{ url_for('static', filename='images/avatar2.jpg') }}" alt="Image">
                    </div>
                    <div class="post__author-info">
                        <h5>By: Chinonso Ogbonnaya</h5>
                        <small>09022864422</small>
                    </div>
            </article>


            <article class="post">
                <div class="post__thumbnail">
                    <img src="{{ url_for('static', filename='images/blog14.jpg') }}" alt="Image">
                </div>
                <a href="" class="category__button">ALX STUDENT</a>
                <h3 class="post__title"><a href="post.html">Learning Software Engineering</a>
                </h3>
                <p class="post__body">
                    As an ALX student studying software engineering, i am someone with a blend of technical curiosity and problem-solving skills, Adaptable Learner,
                    Collaborative, Adaptable Learner, Adaptable Learner, Resilient, Organized, Curious and Motivated
                    Ethical and Security-Conscious. 

                </p>

                <div class="post__author">
                    <div class="post__author-avatar">
                        <img src="{{ url_for('static', filename='images/avatar15.jpg') }}" alt="Image">
                    </div>
                    <div class="post__author-info">
                        <h5>By: Sulaiman Fatai</h5>
                        <small>07026226553</small>
                    </div>
            </article>
        </div>
    </section>

{% endblock content %}
 