{% extends 'base.html' %}
<body>
    {% block content %}
        <section class="empty__page">
            <h1>Edit Post</h1>

            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
        
                <div>
                    {{ form.description.label }}<br>
                    {{ form.description() }}<br>
                    {% for error in form.description.errors %}
                        <span>{{ error }}</span><br>
                    {% endfor %}
                </div>
        
                <div>
                    {{ form.country.label }}<br>
                    {{ form.country(64) }}<br>
                    {% for error in form.country.errors %}
                        <span style="color: red;"></span>>{{ error }}</span><br>
                    {% endfor %}
                </div>
        
                <div>
                    {{ form.state.label }}<br>
                    {{ form.state(64) }}<br>
                    {% for error in form.state.errors %}
                        <span style="color: red;"></span>>{{ error }}</span><br>
                    {% endfor %}
                </div>
        
                <div>
                    {{ form.city.label }}<br>
                    {{ form.city(64) }}<br>
                    {% for error in form.city.errors %}
                        <span style="color: red;"></span>>{{ error }}</span><br>
                    {% endfor %}
                </div>
        
                <div>
                    {{ form.address.label }}<br>
                    {{ form.address(64) }}<br>
                    {% for error in form.address.errors %}
                        <span style="color: red;"></span>>{{ error }}</span><br>
                    {% endfor %}
                </div>
        
                <div>
                    {{ form.status.label }}<br>
                    {{ form.status() }}<br>
                    {% for error in form.status.errors %}
                        <span style="color: red;"></span>>{{ error }}</span><br>
                    {% endfor %}
                </div>
        
                <div>
                    {{ form.images.label }}<br>
                    {{ form.images() }}<br>
                    {% for error in form.images.errors %}
                        <span style="color: red;"></span>>{{ error }}</span><br>
                    {% endfor %}
                </div>
        
                <div class="form_input">
                    {{ form.submit() }}
                </div>
            </form>
        
        </section>
    {% endblock content %}
</body>