{% extends 'base.html' %}

{% block content %}
    <section class="form__section">
        <!-- <div class="container form__section-container"> -->
            <h2>Sign Up</h2>

            <form action="" enctype="multipart/form-data">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
                <input type="text" placeholder="Username">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Create password">
                <input type="password" placeholder="Comfirm password">


                <button type="Submit" class="btn">Sign Up</button>
                <small>Already have an account? <a href="signin.html">Sign In</a></small>
            </form>
        </div>
    </section>
{% endblock content %}