{% extends 'base.html' %}

<body>
    {% block content %}
        <section class="empty__page">

            <h1>Register as a User</h1>
            <div class="form_page">
                <form action="" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.first_name.label }}<br>
                        {{ form.first_name(size=64) }}<br>
                        {% for error in form.first_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.last_name.label }}<br>
                        {{ form.last_name(size=64) }}<br>
                        {% for error in form.last_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=64) }}<br>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=64) }}<br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=64) }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.repeat_pwd.label }}<br>
                        {{ form.repeat_pwd(size=64) }}<br>
                        {% for error in form.repeat_pwd.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.phone_number.label }}<br>
                        {{ form.phone_number(size=64) }}<br>
                        {% for error in form.phone_number.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.phone_number_2.label }}<br>
                        {{ form.phone_number_2(size=64) }}<br>
                        {% for error in form.phone_number_2.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <br>
                    <p class="btn_submit">{{ form.submit() }}</p>
                    <div>
                        <p>
                            Already an Agent? <a href="{{ url_for('login') }}"><strong class="btn">Login</strong></a>
                        </p>
                    </div>  
                </form>
            </div>
        </section>
    {% endblock content %}
</body>